<h1 class='underline'>Rock, Paper, Scissors</h1>

<h2><a href="/rules"><button class='button'>Rules</button></a></h2>

<p>Enter the two choices seperated by a / to the address bar and press enter</p>


<h2><a href="/welcome"><button class='button'>Home</button></a></h2>
