body {
  background-color: #FEF7E7;
}

h1, h2 {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.button {
font-size: 26px;

}

.rules {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-style: solid;
  padding: 5px;
  background-color: #ffffff;
}

p {
  font-size: 1.5em;
  text-align: center;


}
